
.block-taxonomy_term_children h2.title {
border-bottom: 1px solid #D6DDB9;
margin-top:25px;
}

ul.categories li {
    float:left;
    list-style:none;
    margin-right:30px;
}
ul.categories li a{
    display:block;
}